.list-item-1,
.list-item-2,
.list-item-3,
.list-item-4,
.list-item-5,
.list-item-6,
.list-item-7 {
  font-family: "Zen Maru Gothic";
  font-size: 23px;
  font-weight: 100;
}

.list-item-1:hover,
.list-item-3:hover,
.list-item-5:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
